.navbar {
  // width: 100%;
  // position: fixed;
  // z-index: 100;
  margin: 10px 20px;
  height: auto;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(-7px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      list-style: none;
      padding: 0.2rem;

      a {
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: bold;
        color: #fff; 

        transition: color 0.3s;
      }
    }
  }
}
